body{
    height: 100vh;
    background: linear-gradient(90deg, rgba(20,20,66,1) 0%, rgba(4,1,43,1) 100%);
    margin: none;
    padding: none;
    display: flex;
}

#titulo{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: none;
    width: 20ch;
    height: 3ch;
    user-select: none;
    margin-left: 40%;
}

.letras{
    color: white;
    height: 20px;
    width: 20px;
    font-size: 25px;
}
.letras:hover{
    zoom: 150%;
    cursor: none;
}
#area{
    height: 300px;
    width: 220px;
    align-self: center;
    margin-left: -330px;
    margin-top: -100px;
}

#formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 178px;
}
.input{
    padding: 10px;
    margin: 5px;
}

.button{
    font-size: 20px;
    padding: 7.5px 15px;
    border-radius: 6px;
    color: #fff;
    background: #222;
    cursor: pointer;
    border: none;
    overflow: hidden;
    transition: 0.2s;
}
.button:hover{
    border-color: aqua;
    border: 2px solid;
    color:aqua;
}

#area2{
    height: 300px;
    width: 220px;
    align-self: center;
    margin-top: -100px;
    margin-left: 260px;
}
#formulario2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 178px;
}
h1{
    color: white;
}